<div class="window-title">
  <div class="container hero">
    <h2 class="text-center">Log In...</h2>
  </div>
</div>
<div class="login-clean">
  <div class="alert alert-danger" *ngIf="loginError">
    {{loginError}}
  </div>
  <form (ngSubmit)="getMember(signinForm)" #signinForm="ngForm">
    <h2 class="sr-only">Login Form</h2>
    <div class="illustration"><i class="icon ion-android-walk" style="color:#269d9d;"></i>
    </div>
    <div class="form-group">
        <input [ngModel]="member?.email" #email="ngModel" class="form-control" type="email" name="email" required="" placeholder="Email" autofocus="">
    </div>
    <div class="form-group">
        <input [ngModel]="member?.password" #password="ngModel" class="form-control" type="password" name="password" required="" placeholder="Password">
    </div>
    <div class="form-group">
        <button [disabled]="!signinForm.form.valid" class="btn btn-primary btn-block" type="submit" style="background-color:#269d9d;">Log In</button>
    </div>
    <a class="forgot">Forgot password?</a>
  </form>
</div>