<div>
  <div class="window-title">
    <div class="container hero">
      <h2 class="text-center">About...</h2>
    </div>
  </div>
</div>
<div class="article-list">
  <div class="container">
    <div class="intro">
      <a name="wellness"></a>
      <h2 class="text-center">Wellness Events </h2>
      <p class="text-center">Below are several of the benefits of participating in Wellness Events</p>
    </div>
    <div class="row articles">
      <div class="col-md-4 col-sm-6 item">
        <a href="#"><img class="img-responsive" src="assets/img/desk.jpg"></a>
        <h3 class="name">Wellness Benefit</h3>
        <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam
          varius finibus est, interdum justo suscipit id.</p><a href="#" class="action"><i class="glyphicon glyphicon-circle-arrow-right"></i></a>
      </div>
      <div class="col-md-4 col-sm-6 item">
        <a href="#"><img class="img-responsive" src="assets/img/building.jpg"></a>
        <h3 class="name">Group Benefits</h3>
        <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam
          varius finibus est, interdum justo suscipit id.</p><a href="#" class="action"><i class="glyphicon glyphicon-circle-arrow-right"></i></a>
      </div>
      <div class="col-md-4 col-sm-6 item">
        <a href="#"><img class="img-responsive" src="assets/img/loft.jpg"></a>
        <h3 class="name">Technology Aides</h3>
        <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam
          varius finibus est, interdum justo suscipit id.</p><a href="#" class="action"><i class="glyphicon glyphicon-circle-arrow-right"></i></a>
      </div>
    </div>
  </div>
</div>
<div class="team-boxed">
  <a name="site-creators"></a>
  <div class="container show" name="site-creators">
    <div class="intro">
      <h2 class="text-center">Site Creators</h2>
      <p class="text-center">The Wellness Events Team...</p>
    </div>
    <div class="row people">
      <div class="col-md-6 col-sm-6 item">
        <div class="box"><img class="img-circle" src="assets/img/Grumpy.jpeg">
          <h3 class="name">Joe Hults</h3>
          <p class="title">Go For Code Developer</p>
          <p class="description">Front End Web Developer.</p>
          <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
        </div>
      </div>
      <div class="col-md-6 col-sm-6 item">
        <div class="box"><img class="img-circle" src="assets/img/3.jpg">
          <h3 class="name">John Ulmer</h3>
          <p class="title">Go For Code Developer </p>
          <p class="description">Java Developer.</p>
          <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
        </div>
      </div>
      <div class="col-md-6 col-sm-6 item">
        <div class="box"><img class="img-circle" src="assets/img/Jeb.jpeg">
          <h3 class="name">Jeb Castelo</h3>
          <p class="title">Go For Code Developer </p>
          <p class="description">Java Developer. </p>
          <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
        </div>
      </div>
      <div class="col-md-6 col-sm-6 item">
        <div class="box"><img class="img-circle" src="assets/img/Dave.jpeg">
          <h3 class="name">Dave Bell</h3>
          <p class="title">Go For Code Developer </p>
          <p class="description">Front End Web Developer.</p>
          <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="article-list">
  <a name="site-tech-tools"></a>
  <div class="container">
    <div class="intro">
      <h2 class="text-center">Technologies and Tools Used</h2>
      <p class="text-center">Alomost all technologies/tools were open source, except as noted.</p>
    </div>
    <div class="row articles">
      <div class="col-md-4 col-sm-6 item">
        <a href="#"><img class="img-responsive" src="assets/img/desk.jpg"></a>
        <h3 class="name">Bootstrap Studio</h3>
        <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam
          varius finibus est, interdum justo suscipit id.</p><a href="#" class="action"><i class="glyphicon glyphicon-circle-arrow-right"></i></a></div>
      <div class="col-md-4 col-sm-6 item">
        <a href="#"><img class="img-responsive" src="assets/img/building.jpg"></a>
        <h3 class="name">Beyond Compare</h3>
        <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam
          varius finibus est, interdum justo suscipit id.</p><a href="#" class="action"><i class="glyphicon glyphicon-circle-arrow-right"></i></a></div>
      <div class="col-md-4 col-sm-6 item">
        <a href="#"><img class="img-responsive" src="assets/img/loft.jpg"></a>
        <h3 class="name">Eclipse </h3>
        <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam
          varius finibus est, interdum justo suscipit id.</p><a href="#" class="action"><i class="glyphicon glyphicon-circle-arrow-right"></i></a></div>
    </div>
    <div class="row articles">
      <div class="col-md-4 col-sm-6 item">
        <a href="#"><img class="img-responsive" src="assets/img/desk.jpg"></a>
        <h3 class="name">GitHub </h3>
        <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam
          varius finibus est, interdum justo suscipit id.</p><a href="#" class="action"><i class="glyphicon glyphicon-circle-arrow-right"></i></a></div>
      <div class="col-md-4 col-sm-6 item">
        <a href="#"><img class="img-responsive" src="assets/img/building.jpg"></a>
        <h3 class="name">Trello </h3>
        <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam
          varius finibus est, interdum justo suscipit id.</p><a href="#" class="action"><i class="glyphicon glyphicon-circle-arrow-right"></i></a></div>
      <div class="col-md-4 col-sm-6 item">
        <a href="#"><img class="img-responsive" src="assets/img/loft.jpg"></a>
        <h3 class="name">Java </h3>
        <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam
          varius finibus est, interdum justo suscipit id.</p><a href="#" class="action"><i class="glyphicon glyphicon-circle-arrow-right"></i></a></div>
    </div>
    <div class="row articles">
      <div class="col-md-4 col-sm-6 item">
        <a href="#"><img class="img-responsive" src="assets/img/desk.jpg"></a>
        <h3 class="name">Spring </h3>
        <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam
          varius finibus est, interdum justo suscipit id.</p><a href="#" class="action"><i class="glyphicon glyphicon-circle-arrow-right"></i></a></div>
      <div class="col-md-4 col-sm-6 item">
        <a href="#"><img class="img-responsive" src="assets/img/building.jpg"></a>
        <h3 class="name">Hybernate </h3>
        <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam
          varius finibus est, interdum justo suscipit id.</p><a href="#" class="action"><i class="glyphicon glyphicon-circle-arrow-right"></i></a></div>
      <div class="col-md-4 col-sm-6 item">
        <a href="#"><img class="img-responsive" src="assets/img/loft.jpg"></a>
        <h3 class="name">FitBit API</h3>
        <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam
          varius finibus est, interdum justo suscipit id.</p><a href="#" class="action"><i class="glyphicon glyphicon-circle-arrow-right"></i></a></div>
    </div>
    <div class="row articles">
      <div class="col-md-4 col-sm-6 item">
        <a href="#"><img class="img-responsive" src="assets/img/desk.jpg"></a>
        <h3 class="name">PostgreSQL </h3>
        <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam
          varius finibus est, interdum justo suscipit id.</p><a href="#" class="action"><i class="glyphicon glyphicon-circle-arrow-right"></i></a></div>
      <div class="col-md-4 col-sm-6 item">
        <a href="#"><img class="img-responsive" src="assets/img/building.jpg"></a>
        <h3 class="name">ABC - 1</h3>
        <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam
          varius finibus est, interdum justo suscipit id.</p><a href="#" class="action"><i class="glyphicon glyphicon-circle-arrow-right"></i></a></div>
      <div class="col-md-4 col-sm-6 item">
        <a href="#"><img class="img-responsive" src="assets/img/loft.jpg"></a>
        <h3 class="name">ABC - 2</h3>
        <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam
          varius finibus est, interdum justo suscipit id.</p><a href="#" class="action"><i class="glyphicon glyphicon-circle-arrow-right"></i></a></div>
    </div>
    <div class="row articles">
      <div class="col-md-4 col-sm-6 item">
        <a href="#"><img class="img-responsive" src="assets/img/desk.jpg"></a>
        <h3 class="name">ABC - 3</h3>
        <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam
          varius finibus est, interdum justo suscipit id.</p><a href="#" class="action"><i class="glyphicon glyphicon-circle-arrow-right"></i></a></div>
      <div class="col-md-4 col-sm-6 item">
        <a href="#"><img class="img-responsive" src="assets/img/building.jpg"></a>
        <h3 class="name">ABC - 4</h3>
        <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam
          varius finibus est, interdum justo suscipit id.</p><a href="#" class="action"><i class="glyphicon glyphicon-circle-arrow-right"></i></a></div>
      <div class="col-md-4 col-sm-6 item">
        <a href="#"><img class="img-responsive" src="assets/img/loft.jpg"></a>
        <h3 class="name">ABC - 5</h3>
        <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam
          varius finibus est, interdum justo suscipit id.</p><a href="#" class="action"><i class="glyphicon glyphicon-circle-arrow-right"></i></a></div>
    </div>
  </div>
</div>
<div class="highlight-phone">
  <a name="terms-of-service"></a>
  <div class="container">
    <div class="row">
      <div class="col-sm-9">
        <div class="intro">
          <h2>Terms of Service</h2>
          <p style="width:700px;">The following terms of service include the FitBit terms of service in addition but not limited to the following
            terms. <a href="http://www.fitbit.com/home">Fitbit</a> Products Why Fitbit Get Motivated App &amp; Dashboard
            Help <a href="https://www.fitbit.com/store">Store</a><a href="https://www.fitbit.com/">Dashboard</a>Terms of
            ServiceDATE OF LAST UPDATE: OCTOBER 6, 2015Fitbit designs products and tools that track everyday health and fitness
            to empower and inspire users to lead healthier, more active lives. These Terms of Service (“Terms”) govern your
            use of our personal fitness and electronic body monitoring products, our websites, including www.fitbit.com,
            the software embedded in Fitbit devices, the Fitbit Connect software, the Fitbit mobile applications, memberships
            and other Fitbit services (collectively, the “Fitbit Service”).You must accept these Terms to create a Fitbit
            account and to use the Fitbit Service. If you do not have an account, you accept these Terms by visiting&nbsp;
            <a href="https://www.fitbit.com/"><span style="text-decoration: underline;">www.fitbit.com</span></a> or using
            any part of the Fitbit Service. IF YOU DO NOT ACCEPT THESE TERMS, DO NOT CREATE AN ACCOUNT, VISIT&nbsp;
            <a href="https://www.fitbit.com/"><span style="text-decoration: underline;">WWW.FITBIT.COM</span></a> OR USE
            THE FITBIT SERVICE.</p>
        </div>
      </div>
      <div class="col-sm-3 hidden-xs">
        <div class="iphone-mockup"><img class="img-responsive device" src="assets/img/iphone.svg">
          <div class="screen" style="background-image:url(&quot;assets/img/women-dog.png&quot;);"></div>
        </div>
      </div>
    </div>
  </div>
</div>
