<div>
  <div class="window-title">
    <div class="container hero">
      <h2 class="text-center">About...</h2>
    </div>
  </div>
</div>

<div class="article-list">
  <div class="container">
    <div class="intro">
      <a name="wellness"></a>
      <h2 class="text-center">Wellness Events </h2>
      <p class="text-center">Below are a few of the benefits of participating in Wellness Events</p>
    </div><br/>
    <div class="row articles">
      <div class="col-md-4 col-sm-6 item">
        <a href="#"><img class="img-responsive" src="./assets/img/heartrate.jpeg"></a>
        <div class="comments">
          <h3 class="name">Wellness Benefit</h3>
          <p class="description">Monitor your heart rate and activities over time or for selected events. 
            </p><a href="#" class="action"></a>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 item">
        <a href="#"><img class="img-responsive" src="./assets/img/workout.jpeg"></a>
        <div class="comments">
          <h3 class="name">Group Benefits</h3>
          <p class="description">See how you compare to your peers. 
            </p><a href="#" class="action"></a>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 item">
        <a href="#"><img class="img-responsive" src="./assets/img/fitbits.jpeg"></a>
        <div class="comments">
          <h3 class="name">Technology Aides</h3>
          <p class="description">Get information on the latest technologies and updates to your favorite tools. 
            </p><a href="#" class="action"></a>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="team-boxed">
  <a name="site-creators"></a>
  <div class="container show" name="site-creators">
    <div class="intro">
      <h2 class="text-center">Site Creators</h2>
      <p class="text-center">The Wellness Events Team...</p>
    </div>
    <div class="row people">
      <div class="col-md-6 col-sm-6 item">
        <div class="box"><img class="img-circle" src="assets/img/Grumpy.jpeg">
          <h3 class="name">Joe Hults</h3>
          <p class="title">Go For Code Developer</p>
          <p class="description">Front End Web Developer.</p>
          <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
        </div>
      </div>
      <div class="col-md-6 col-sm-6 item">
        <div class="box"><img class="img-circle" src="assets/img/Dave.jpeg">
          <h3 class="name">Dave Bell</h3>
          <p class="title">Go For Code Developer </p>
          <p class="description">Front End Web Developer.</p>
          <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
        </div>
      </div>
      <div class="col-md-6 col-sm-6 item">
        <div class="box"><img class="img-circle" src="assets/img/john_outlook.png">
          <h3 class="name">John Ulmer</h3>
          <p class="title">Go For Code Developer </p>
          <p class="description">Java Developer.</p>
          <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
        </div>
      </div>
      <div class="col-md-6 col-sm-6 item">
        <div class="box"><img class="img-circle" src="assets/img/jeb_outlook.png">
          <h3 class="name">Jeb Castelo</h3>
          <p class="title">Go For Code Developer </p>
          <p class="description">Java Developer.</p>
          <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
        </div>
      </div>
      <div class="col-md-12 col-sm-12 item">
        <div class="box"><img class="img-circle" src="assets/img/eric.jpeg">
          <h3 class="name">Eric Schwartz</h3>
          <p class="title">Frontend Iron Yard Instructor</p>
          <p class="description">The Great One!</p>
          <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
        </div>
      </div>
      <div class="col-md-6 col-sm-6 item">
        <div class="box"><img class="img-circle" src="assets/img/prakash.jpg">
          <h3 class="name">Prakash</h3>
          <p class="title">Backend Iron Yard Instructor</p>
          <p class="description">The Hungry One!</p>
          <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
        </div>
      </div>
      <div class="col-md-6 col-sm-6 item">
        <div class="box"><img class="img-circle" src="assets/img/david_gregg.jpg">
          <h3 class="name">David Gregg</h3>
          <p class="title">Iron Yard Technical Assistance</p>
          <p class="description">A Wild and Crazy Guy!</p>
          <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="article-list">
  <a name="site-tech-tools"></a>
  <div class="container">
    <div class="intro">
      <h2 class="text-center">Technologies and Tools Used</h2>
      <!--<p class="text-center">Almost all technologies/tools were open source, except as noted.</p>-->
    </div>

<!--Start of a new row of items-->
        <div class="row articles">

          <div class="col-md-4 col-sm-6 item">
            <a href="#"><img class="img-responsive" src="./assets/img/java.png"></a>
            <div class="comments">
              <h3 class="name">Java </h3>
              <p class="description">Programming language</p><a href="https://java.com/en/" class="action"></a>
            </div>
          </div>

          <div class="col-md-4 col-sm-6 item">
            <a href="#"><img class="img-responsive" src="./assets/img/angular.png"></a>
            <div class="comments">
              <h3 class="name">Angular 2</h3>
              <p class="description">JavaScript framework</p><a href="https://angular.io/" class="action"></a>
            </div>
          </div>

          <div class="col-md-4 col-sm-6 item">
            <a href="#"><img class="img-responsive" src="./assets/img/javascript.png"></a>
            <div class="comments">
              <h3 class="name">JavaScript</h3>
              <p class="description">Programming language</p><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript" class="action"></a>
            </div>
          </div>

        </div>

<!--Start of a new row of items-->
        <div class="row articles">

          <div class="col-md-4 col-sm-6 item">
            <a href="#"><img class="img-responsive" src="./assets/img/html.png"></a>
            <div class="comments">
              <h3 class="name">HTML</h3>
              <p class="description">Programming language</p><a href="https://developer.mozilla.org/en-US/docs/Web/HTML" class="action"></a>
            </div>
          </div>

          <div class="col-md-4 col-sm-6 item">
            <a href="#"><img class="img-responsive" src="./assets/img/spring.png"></a>
            <div class="comments">
              <h3 class="name">Spring </h3>
              <p class="description">Java Framework</p><a href="https://spring.io/" class="action"></a>
            </div>
          </div>

          <div class="col-md-4 col-sm-6 item">
            <a href="#"><img class="img-responsive" src="./assets/img/bootstrap.png"></a>
            <div class="comments">
              <h3 class="name">Bootstrap</h3>
              <p class="description">Open-source front-end web framework for designing websites and web applications.</p><a href="https://getbootstrap.com/"
                class="action"></a>
            </div>
          </div>

        </div>

<!--Start of a new row of items-->
        <div class="row articles">

          <div class="col-md-4 col-sm-6 item">
            <a href="#"><img class="img-responsive" src="./assets/img/bsstudio.png"></a>
            <div class="comments">
              <h3 class="name">Bootstrap Studio</h3>
              <p class="description">Web application and bootstrap prototyping tool</p><a href="https://bootstrapstudio.io/" class="action"></a>
            </div>
          </div>

          <div class="col-md-4 col-sm-6 item">
            <a href="#"><img class="img-responsive" src="./assets/img/css.png"></a>
            <div class="comments">
              <h3 class="name">CSS</h3>
              <p class="description">Programming language</p><a href="https://developer.mozilla.org/en-US/docs/Web/CSS" class="action"></a>
            </div>
          </div>

          <div class="col-md-4 col-sm-6 item">
            <a href="#"><img class="img-responsive" src="./assets/img/typescript.png"></a>
            <div class="comments">
              <h3 class="name">TypeScript</h3>
              <p class="description">A typed superset of JavaScript that compiles to plain JavaScript required by Angular 2</p><a href="https://www.typescriptlang.org/"
                class="action"></a>
            </div>
          </div>

        </div>


<!--Start of a new row of items-->
        <div class="row articles">

          <div class="col-md-4 col-sm-6 item">
            <a href="#"><img class="img-responsive" src="./assets/img/json.png"></a>
            <div class="comments">
              <h3 class="name">JSON</h3>
              <p class="description">JavaScript Object Notation is a lightweight data-interchange format.</p><a href="http://www.json.org/" class="action"></a>
            </div>
          </div>

          <div class="col-md-4 col-sm-6 item">
            <a href="#"><img class="img-responsive" src="./assets/img/springboot.png"></a>
            <div class="comments">
              <h3 class="name">Spring Boot</h3>
              <p class="description">A Spring Framework</p><a href="https://spring.io/blog/2013/08/06/spring-boot-simplifying-spring-for-everyone/"
                class="action"></a></div>
          </div>
          
          <div class="col-md-4 col-sm-6 item">
            <a href="#"><img class="img-responsive" src="./assets/img/hybernate.png"></a>
            <div class="comments">
              <h3 class="name">Hibernate </h3>
              <p class="description">Change</p><a href="http://hibernate.org/" class="action"></a>
            </div>
          </div>

        </div>

<!--Start of a new row of items-->
      <div class="row articles">

        <div class="col-md-4 col-sm-6 item">
          <a href="#"><img class="img-responsive" src="./assets/img/swagger.png"></a>
          <div class="comments">
            <h3 class="name">Swagger</h3>
            <p class="description">An HTTP API interace for describing, producing, consuming, and visualizing RESTful Web services</p><a href="https://swagger.io/"
              class="action"></a>
          </div>
        </div>

        <div class="col-md-4 col-sm-6 item">
          <a href="#"><img class="img-responsive" src="./assets/img/postman.png"></a>
          <div class="comments">
            <h3 class="name">Postman</h3>
            <p class="description"> An HTTP API interace. It presents you with a friendly GUI for constructing requests and reading responses.</p>
            <a href="https://www.getpostman.com/" class="action"></a>
          </div>
        </div>

        <div class="col-md-4 col-sm-6 item">
          <a href="#"><img class="img-responsive" src="./assets/img/sequelpro.png"></a>
          <div class="comments">
            <h3 class="name">Sequel Pro</h3>
            <p class="description">Mac database management application for working with MySQL databases</p><a href="https://www.sequelpro.com/"
              class="action"></a>
          </div>
        </div>

      </div>

<!--Start of a new row of items-->
        <div class="row articles">

          <div class="col-md-4 col-sm-6 item">
            <a href="#"><img class="img-responsive" src="./assets/img/postgres.png"></a>
            <div class="comments">
              <h3 class="name">PostgreSQL </h3>
              <p class="description">Relational database management system</p><a href="https://www.postgresql.org/" class="action"></a>
            </div>
          </div>

          <div class="col-md-4 col-sm-6 item">
            <a href="#"><img class="img-responsive" src="./assets/img/mysql.png"></a>
            <div class="comments">
              <h3 class="name">My SQL</h3>
              <p class="description">An open source relational database management system (RDBMS) based on Structured Query Language (SQL)</p>
              <a href="https://www.mysql.com/" class="action"></a>
            </div>
          </div>

          <div class="col-md-4 col-sm-6 item">
            <a href="#"><img class="img-responsive" src="./assets/img/fitbit.png"></a>
            <div class="comments">
              <h3 class="name">FitBit API</h3>
              <p class="description">Interface into FitBit data store</p><a href="https://dev.fitbit.com/" class="action"></a>
            </div>
          </div>

        </div>

<!--Start of a new row of items-->
        <div class="row articles">

          <div class="col-md-4 col-sm-6 item">
            <a href="#"><img class="img-responsive" src="./assets/img/github.png"></a>
            <div class="comments">
              <h3 class="name">GitHub </h3>
              <p class="description">Web based version control repository</p><a href="https://github.com/" class="action"></a>
            </div>
          </div>



          <div class="col-md-4 col-sm-6 item">
            <a href="#"><img class="img-responsive" src="./assets/img/Beyond.png"></a>
            <div class="comments">
              <h3 class="name">Beyond Compare</h3>
              <p class="description">A data comparison utility. </p><a href="https://www.scootersoftware.com/" class="action"></a>
            </div>
          </div>

          <div class="col-md-4 col-sm-6 item">
            <a href="#"><img class="img-responsive" src="./assets/img/eclipse.png"></a>
            <div class="comments">
              <h3 class="name">Eclipse </h3>
              <p class="description">Software Development Kit (SDK)</p><a href="https://www.eclipse.org/" class="action"></a>
            </div>
          </div>

        </div>





<!--Start of a new row of items-->
        <div class="row articles">

          <div class="col-md-4 col-sm-6 item">
            <a href="#"><img class="img-responsive" src="./assets/img/trello.png"></a>
            <div class="comments">
              <h3 class="name">Trello </h3>
              <p class="description">Online coolaboration tool</p><a href="#" class="action"></a>
            </div>
          </div>

          <div class="col-md-4 col-sm-6 item">
            <a href="#"><img class="img-responsive" src="./assets/img/heroku.png"></a>
            <div class="comments">
              <h3 class="name">Heroku</h3>
              <p class="description">A cloud platform used as a web application deployment model.</p><a href="https://www.heroku.com" class="action"></a>
            </div>
          </div>

          <div class="col-md-4 col-sm-6 item">
            <a href="#"><img class="img-responsive" src="./assets/img/gmaps.png"></a>
            <div class="comments">
              <h3 class="name">Google Maps API</h3>
              <p class="description">Interface into google maps data store</p><a href="https://developers.google.com/maps/" class="action"></a>
            </div>
          </div>

        </div>



<!--Start of a new row of items-->
      <div class="row articles">

        <div class="col-md-4 col-sm-6 item">
          <a href="#"><img class="img-responsive" src="./assets/img/atom.png"></a>
          <div class="comments">
            <h3 class="name">ATOM</h3>
            <p class="description">A text and source code editor with support for plug-ins written in Node.js, and embedded Git Control.</p>
            <a href="https://atom.io/" class="action"></a>
          </div>
        </div>

        <div class="col-md-4 col-sm-6 item">
          <a href="#"><img class="img-responsive" src="./assets/img/vscode.png"></a>
          <div class="comments">
            <h3 class="name">Visual Studio Code</h3>
            <p class="description"> Source code editor.</p><a href="https://code.visualstudio.com/" class="action"></a>
          </div>
        </div>

        <div class="col-md-4 col-sm-6 item">
          <a href="#"><img class="img-responsive" src="./assets/img/slack.png"></a>
          <div class="comments">
            <h3 class="name">Slack</h3>
            <p class="description">Online team collaboration tool.</p><a href="https://www.slack.com/" class="action"></a>
          </div>
        </div>
      </div>


<div class="highlight-phone">
  <a name="terms-of-service"></a>
  <div class="container">
    <div class="row">
      <div class="col-sm-9">
        <div class="intro">
          <h2>Terms of Service</h2>
          <p style="width:700px;">The following terms of service include the FitBit terms of service in addition but not limited to the following
            terms. <a href="http://www.fitbit.com/home">Fitbit</a> Products Why Fitbit Get Motivated App &amp; Dashboard
            Help <a href="https://www.fitbit.com/store">Store</a><a href="https://www.fitbit.com/">Dashboard</a>Terms of
            ServiceDATE OF LAST UPDATE: OCTOBER 6, 2015Fitbit designs products and tools that track everyday health and fitness
            to empower and inspire users to lead healthier, more active lives. These Terms of Service (“Terms”) govern your
            use of our personal fitness and electronic body monitoring products, our websites, including www.fitbit.com,
            the software embedded in Fitbit devices, the Fitbit Connect software, the Fitbit mobile applications, memberships
            and other Fitbit services (collectively, the “Fitbit Service”).You must accept these Terms to create a Fitbit
            account and to use the Fitbit Service. If you do not have an account, you accept these Terms by visiting&nbsp;
            <a href="https://www.fitbit.com/"><span style="text-decoration: underline;">www.fitbit.com</span></a> or using
            any part of the Fitbit Service. IF YOU DO NOT ACCEPT THESE TERMS, DO NOT CREATE AN ACCOUNT, VISIT&nbsp;
            <a href="https://www.fitbit.com/"><span style="text-decoration: underline;">WWW.FITBIT.COM</span></a> OR USE
            THE FITBIT SERVICE.</p>
        </div>
      </div>
      <div class="col-sm-3 hidden-xs">
        <div class="iphone-mockup"><img class="img-responsive device" src="assets/img/iphone.svg">
          <div class="screen" style="background-image:url(&quot;assets/img/women-dog.png&quot;);"></div>
        </div>
      </div>
    </div>
  </div>
</div>
