<div class="header-dark" style="height:720px;">
  <div class="features-clean">
    <div class="container">
        <div class="intro">
            <h2 class="text-center">Let's Get Moving</h2>
            <p class="text-center">Select your options below... </p>
        </div>
        <div class="row features">
            <div class="col-md-6 col-sm-12 item"><i class="icon ion-ios-contact-outline icon"></i>
                <h3 class="name"><a href="create-user.html">Create User </a></h3>
                <p class="description">Are you new to this site? Create an account and get started Wellness Events.</p>
            </div>
            <div class="col-md-6 col-sm-12 item"><i class="icon ion-ios-contact icon"></i>
                <h3 class="name"><a href="modify-user.html">Modify User </a></h3>
                <p class="description">Need to change your email, password, or screen name?</p>
            </div>
            <div class="col-md-6 col-sm-12 item"><i class="icon ion-android-walk icon"></i>
                <h3 class="name"><a href="join-event.html">Join Event&nbsp; </a></h3>
                <p class="description">Are you looking to join an event? See what's avalable in your area.</p>
            </div>
            <div class="col-md-6 col-sm-12 item"><i class="icon ion-android-remove-circle icon"></i>
                <h3 class="name"><a href="modify-participation.html">Modify Participation </a></h3>
                <p class="description">Has your schedule changed? Update your participation here.</p>
            </div>
            <div class="col-md-6 col-sm-12 item"><i class="icon ion-ios-people icon"></i>
                <h3 class="name"><a href="create-event.html">Create Event </a></h3>
                <p class="description">Would you like to create a new event? For site administrators only.</p>
            </div>
            <div class="col-md-6 col-sm-12 item"><i class="icon ion-edit icon"></i>
                <h3 class="name"><a href="modify-event.html">Modify Event </a></h3>
                <p class="description">Do you need to modify an event? For site administrors only.</p>
            </div>
        </div>
    </div>
  </div>
</div>
