<div class="window-title">
  <div class="container hero">
    <h2 class="text-center">Modify Event...</h2>
  </div>
</div>
<main class="container pt-5">
        <div class="card mb-5">
            <div class="card-block p-0">
                <table class="table table-bordered table-sm m-0">
                    <thead class="">
                        <tr>
                            <th>Modify/List</th>
                            <th>Event Name</th>
                            <th>Event Type</th>
                            <th>Description</th>
                            <th>Location</th>                            
                            <th>Start Date</th>
                            <th>End Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let e of events">
                            <td>
                                <label class="custom-control">
                                    <!--<input type="checkbox" class="custom-control-input" [routerLink]="['wellnessevent/edit/', e.id]">&nbsp;-->
                                    <!--<span class="custom-control-indicator"></span>-->
                                    <button class="btn btn-primary" [routerLink]="['wellnessevent/edit/', e.id]"><em class="fa fa-pencil"></em></button>
                                    <!--<a class="btn btn-danger" data-toggle="confirmation" data-singleton="true"><em class="fa fa-trash"></em></a>-->
                                    <button (click)="deleteEvent(e.id)" class="btn btn-danger" data-toggle="confirmation" data-singleton="true" onclick="this.blur()" ><em class="fa fa-trash"></em></button>
                                    <button class="btn btn-info"><em class="fa fa-users"></em></button>
                                </label>
                            </td>
                            <td>{{e.eventName}}</td>
                            <td>{{e.eventType}}</td>
                            <td>{{e.description}}</td>
                            <td>{{e.location}}</td>
                            <td>{{e.startDate}}</td>
                            <td>{{e.endDate}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!--<div class="card-footer p-0">
                <nav aria-label="...">
                    <ul class="pagination justify-content-end mt-3 mr-3">
                        <li class="page-item disabled">
                            <span class="page-link">Previous</span>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item active">
                            <span class="page-link">2<span class="sr-only">(current)</span>
                            </span>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#">Next</a>
                        </li>
                    </ul>
                </nav>
            </div>-->
        </div>
    </main>
