<div class="header-dark" style="height:75px;">
  <nav class="navbar navbar-default navigation-clean-search">
    <div class="container">
      <div class="navbar-header"><a class="navbar-brand navbar-link" href="index.html">Wellness Events</a>
        <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
      </div>
      <div class="collapse navbar-collapse" id="navcol-1">
        <ul class="nav navbar-nav">
          <li  *ngIf="user" class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false" href="#" target="_blank">Users <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">

              <li role="presentation"><a routerLink="/member-form">Modify Member</a></li>
              <li role="presentation"><a routerLink="/wellnessevent">Events</a></li>
            </ul>
          </li>
          <li  *ngIf="adminStatus" class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false" href="#" target="_blank">Administrators <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li role="presentation"><a routerLink="/wellnessevent-form">Create Event</a></li>
              <li role="presentation"><a routerLink="/admin-event">Modify Event</a></li>
              <li role="presentation"><a routerLink="/admin">Modify Admin User</a></li>
            </ul>
          </li>
          <li role="presentation"><a routerLink="/about">About </a></li>
        </ul>
        <p class="navbar-text navbar-right">
          <span *ngIf="!user">
            <a class="navbar-link login" routerLink="/signin">Log In</a>
            <a class="btn btn-default action-button" role="button" routerLink="/member-form">Sign Up</a>
          </span>
          <span *ngIf="user"  class="navbar-link login">
            Hello, {{user.screenName}}!          
             <br>
            <a class="navbar-link login" (click)="logOutUser()" routerLink="/home">Not you? Click here. </a>
          </span>
        </p>
      </div>
    </div>
  </nav>
  <!--<div class="container hero" style="height:80px;margin:-28px 27px 0px;">
    <h1 style="font-size:60px;">Wellness Events</h1>
  </div>-->
</div>
