/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
.container.hero {
  display:flex;
  justify-content:center;
  flex-direction: column;
  align-content: center;
  height: 60px;
  background-color: #269d9d;
  color: white;
  border: 2px solid;
  border-radius: 12px;
  /*margin-top: -8px;*/
}

.container .jumbotron, .container-fluid .jumbotron {
  display:flex;
  flex-direction:column;
  justify-content:flex-end;
  align-content:flex-end;
  font-weight:700;
}

.window-title {
  padding-top: 14px;
  padding-bottom: 14px;
}

.table td, th {
   text-align: center;   
}

