    <!--<app-navigation></app-navigation>-->
    <div class="container hero">
        <h1>Wellness Events</h1>
    </div>
    <div class="container centerDiv" align="center" style="height:410px;margin:20px 20px 0px;">
        <!--<div class="jumbotron" style="background-image:url(&quot;assets/img/running-women-baby.jpg&quot;);width:640px;margin:60px 0px 0px;height:400px;">-->
        <div class="jumbotron">
            <p style="color:rgb(255,255,255);">A site where fitness tracker owners join events with other fitness tracker owners...</p>
            <p><a class="btn btn-default" role="button" routerLink="/about">Learn more</a></p>
        </div>
    </div>
    <app-member *ngIf="user"></app-member>