<div class="window-title">
  <div class="container hero">
    <h2 class="text-center">{{title}}</h2>
  </div>
</div>
<div class="register-photo">
    <div class="form-container">
        <div class="image-holder" style="background-image:url(&quot;assets/img/jogging-women2.png&quot;);"></div>
        <form (ngSubmit)="saveMember(memberForm)" #memberForm="ngForm">
            <input [ngModel]="member?.id" ngModel #id="ngModel" type="hidden" name="id">
            <h2 class="text-center" style="margin:0px 0px 30px;">{{instructions}}</h2>
            <div class="form-group"><small>Email</small>
                <input [ngModel]="member?.email"  #email="ngModel"  class="form-control" type="email" name="email" placeholder="Email">
            </div>
            <span *ngIf="formErrors.email" class="text-danger">
                {{ formErrors.email }}
            </span>
            <!--<div class="form-group"><small>Email (Repeat)</small>
                <input class="form-control" type="email" name="email-repeat" placeholder="Email (Repeat)">
            </div>-->
            <div class="form-group"><small>Password </small>
                <input [ngModel]="member?.password"  #password="ngModel"  class="form-control" type="password" name="password" placeholder="Password">
            </div>
            <span *ngIf="formErrors.password" class="text-danger">
                {{ formErrors.password }}
            </span>
            <!--<div class="form-group"><small>Password (Repeat)</small>
                <input class="form-control" type="password" name="password-repeat" placeholder="Password (repeat)">
            </div>-->
            <div class="form-group"><small>Screen Name</small>
                <input [ngModel]="member?.screenName"  #screenName="ngModel"  class="form-control" type="screenName" name="screenName" placeholder="Screen Name">
            </div>
            <span *ngIf="formErrors.screenName" class="text-danger">
                {{ formErrors.screenName }}
            </span>
            <div *ngIf="!user" class="form-group">
                <div class="checkbox">
                    <label class="control-label">
                        <input type="checkbox">I agree to the <a href="about.html">License Terms </a></label>
                </div>
            </div>
            <div class="form-group" style="height:110px;">
                <button  *ngIf="!user" [disabled]="!memberForm.form.valid" class="btn btn-primary btn-block" type="submit" style="margin:12px 0px 0px;background-color:#269d9d;">Sign Up</button>
                <button  *ngIf="user" [disabled]="!memberForm.form.valid" class="btn btn-primary btn-block" type="submit" style="margin:12px 0px 0px;background-color:#269d9d;">Save</button>
                <button class="btn btn-primary btn-block" type="submit" style="margin:18px 0px 0px;background-color:#269d9d;">Cancel </button>
            </div>
            <a *ngIf="!user" href="login.html" class="already">You already have an account? Login here.</a>
        </form>
    </div>
</div>
